{% extends 'dashboard.html' %}

{% block left %}
    <div class="links-left-div">
        <ul  id="dash-parent-list">
            <li>
                <a href="{{ url_for('customer.profile') }}">
                    <div class="link-items">
                        <div><i class="fa fa-user" aria-hidden="true"></i></div>
                        <h2>PROFILE</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('customer.tickets') }}">
                    <div class="link-items">
                        <div><i class="fa fa-ticket" aria-hidden="true"></i></div>
                        <h2>TICKETS</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('customer.new') }}">
                    <div class="link-items">
                        <div><i class="fa fa-plus" aria-hidden="true"></i></div>
                        <h2>NEW_TICKET</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('customer.change') }}">
                    <div class="link-items">
                        <div><i class="fa fa-key" aria-hidden="true"></i></div>
                        <h2>CHANGE_PASSWORD</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('customer.about') }}">
                    <div class="link-items">
                        <div><i class="fa fa-info" aria-hidden="true"></i></div>
                        <h2>ABOUT</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('customer.support') }}">
                    <div class="link-items">
                        <div><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                        <h2>FEEDBACK</h2>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <script>
        window.onload = function highlight(){
            id = '{{ id }}'
            var element = document.getElementById('dash-parent-list').children.item(id);
            element.className = "active";
            console.log("function called")
        }
    </script>
{% endblock %}
